@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  background-color: black;
  color: white;
  text-align: center;
  border: 1px solid white;
}

#center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 80%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  align-items: center;
  justify-content: center;
  background-image: url("https://images.pexels.com/photos/730656/pexels-photo-730656.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

#tap-button {
  background-color: beige;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 4rem;
  cursor: pointer;
  font-size: 3rem;
  height: 30vh;
}
#reset {
  padding: 1rem;
  background-color: coral;
  opacity: 1;
  cursor: pointer;
  font-size: 1.6rem;
}
#reset:hover {
  opacity: 0.9;
  color: white;
}

#result {
  font-size: 2rem;
  background-color: black;
  color: white;
  text-align: center;
  border: 1px solid white;
  padding: 2rem 0;
}
